/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* Reseteo */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #23242a;
    font-family: Poppins;
    outline: none;
}

/* Efecto Hover */
.resolucion:hover{
    background-color: #45f3ffd7;
    color: black;
}

/* Section */
section{
    display: flex;
    justify-content: center;
}

/* Codigo de Barra Led */

.barra{
    position: relative;
    height: 10px;
    background: #fff;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
    padding-top: 10px;
}

.barra::before{
    content:'';
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg,#c5f3f7,#9fecf1,#82eff7,#6af3fd,#45f3ff,#27d4e0,#07cbda);
    animation: animar 10s linear infinite;
}
.barra::after{
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg,#c5f3f7,#9fecf1,#82eff7,#6af3fd,#45f3ff,#27d4e0,#07cbda);
    animation: animar 10s linear infinite;
    background-size: 500%;
    filter: blur(20px);
}

@keyframes animar{
    0%{
        background-position: 0 0;
    }
    0%{
        background-position: 500% 0;
    }
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    color:#45f3ff;
    font-size: 80px;
}

.boton{
    border: none;
    color: #45f3ff;
    font-size: 60px;
    text-decoration: none;
}
.boton a:hover{
    color: white;
}
a{
    text-decoration: none;
    color: #45f3ff;
}

.boton_agregar{
    border: none;
    padding: 15px;
    color: #45f3ff;
    font-size: 40px;
    text-decoration: none;
}
.boton_agregar a:hover{
    color: white;
}

/* h3 */
h3{
    color: #45f3ff;
    font-size: 50px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
}
.nueva_tarea{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nueva_tarea input{
    font-size: 20px;
    color: white;
    border: 3px solid #45f3ff;
}

.nombre_tarea{
    color: white;
    font-size: 30px;
}

.boton_tarea_borrar{
    font-size: 25px;
    color: red;
}
.boton_tarea_completa{
    font-size: 25px;
    color: rgb(27, 175, 27);
}
.completa{
    color: gray;
}